* {
    box-sizing: border-box;
    /* transition: opacity 2s ease; */
}

*::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #c1b1ff;
    border-radius: 20px;
}

body {
    overflow: hidden;
    background-color: rgb(244 241 251);
}

#map {
    width: 100vw;
    height: 100vh;
}

#form-header {
    font-size: 29px;
    font-weight: bold;
    margin: 0 0 20px;
}

#form-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    border-radius: 30px;
    background: linear-gradient(to left, rgb(244 241 251), rgb(250 243 255));
    padding: 20px;
    z-index: 1002;
}

form label {
    font-weight: bold;
    font-size: 16px;
}

form input,
form textarea {
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    width: 100%;
    font-size: 18px;
}

form input:focus,
form textarea:focus {
    outline: 2px solid #c1b1ff;
}

form button {
    background-color: white;
    border: 2px solid #c1b1ff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

#buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

#overlay {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 20%;
    z-index: 1001;
}

#notes-overlay {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    /* opacity: 20%; */
    z-index: 1010;
}

#context-menu {
    display: none;
    position: absolute;
    /* width: 160px;
    height: 100px; */
    border-radius: 32px;
    margin-bottom: 20px;
    /* padding: 12px 0; */
    /* outline: 2px solid #c1b1ff; */
    border: 2px solid #c1b1ff;
    overflow: hidden;
    background: linear-gradient(to left, rgb(244 241 251), rgb(250 243 255));
    z-index: 1002;
}

.context-menu-item {
    cursor: pointer;
    text-align: center;
    padding: 7px 19px 7px;
    color: black;
    user-select: none;
}

#context-panel-open {
    border-bottom: 2px solid #c1b1ff;
}

.context-menu-item:hover {
    background: #c1b1ff;
    transition: background-color 0.3s ease;
}

#notes-panel {
    position: absolute;
    top: 0;
    width: 500px;
    height: 101vh;
    padding: 20px;
    background: linear-gradient(to left, rgb(244 241 251), rgb(250 243 255));
    z-index: 1000;
    transition-property: left;
    transition-duration: 1s;
    overflow-x: hidden;
    overflow-y: scroll;
}

#panel-btn {
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 80px;
    border-radius: 0 80px 80px 0;
    background: linear-gradient(to left, #8a4dff, #c1b1ff);
    z-index: 1000;
    transition-property: left;
    transition-duration: 1s;
}

#save-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 5px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;

    background-color: #8768ff;
    color: white;
    font-weight: bold;
    font-size: 23px;
}

.note-delete {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    color: gray;
}

.note-edit {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 30px;
    cursor: pointer;
    color: gray;
}

#notes-list {
    padding: 0;
    margin: 0;
}

.note-item {
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 15px 25px;
    user-select: none;
}

.note-title {
    font-size: 20px;
    font-weight: bold;
    max-width: 340px;
    word-wrap: break-word;
}

.note-date {
    font-size: 17px;
    color: #646464;
    padding: 5px 0;
}

.note-text {
    font-size: 18px;
}

.note-item:hover {
    outline: 2px solid #c1b1ff;
}
